.copadrBox {
  padding: 3px 8px;
  border-radius: 8px;
  background: var(--Copart, #0E5DB8);
  color: var(--Text-White, #FFF);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.IAAIBox {
  padding: 3px 8px;
  border-radius: 8px;
  background: var(--IAAI, #D91E1D);
  color: var(--Text-White, #FFF);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}