:root {
  --White: #FFF;
  --Gray: #F5F6F8;
  --Accented: #FFAF0E;
  --Text-Green: #00B333;
  --Text-Orange: #F76500;
  --Text-Accented-BLUE: #2571FF;
  --Text-Black: #0F0F0F;
  --Footer-Background: #300;
}
