.listWrapper {
  width: 100%;
}

.paginationSection {
  background: #F5F6F8;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination :global(.ant-pagination-item) {
  background: #FFFFFF;
  border-radius: 12px;
  min-width: 44px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  color: #0F0F0F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination :global(.ant-pagination-item-active) {
  background: #FFC94D !important;
  border-color: #FFC94D !important;
  color: #0F0F0F !important;
}

.pagination :global(.ant-pagination-prev .ant-pagination-item-link),
.pagination :global(.ant-pagination-next .ant-pagination-item-link) {
  background: #FFFFFF;
  border-radius: 12px;
  min-width: 70px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  color: #0F0F0F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination :global(.ant-pagination-disabled .ant-pagination-item-link) {
  color: #7B7B7B;
}

.paginationDescription {
  color: var(--Text-Dark-gray, #7B7B7B);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
